header .title {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  text-align: end;
  background-image: url(../assets/background-hero.jpg);
  background-size: contain;
}
header .title img {
  width: 100%;
  padding-top: 2vh;
  padding-left: 4vw;
}
header .title .texto {
  padding: 4vw;
  color: #ffc002;
  margin-right: 3vw;
}
header .title .texto h1 {
  font-size: 4vw;
}
header .title .texto h4 {
  font-size: 3vw;
}
header .title .texto h5 {
  font-size: 3vw;
}
header .title .texto p {
  font-size: 1.5vw;
}

nav {
  display: flex;
  background-color: #000;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 10%;
  margin: 0;
}
nav img {
  width: 5%;
  height: 5%;
  margin-left: 5vw;
}
nav a {
  text-decoration: none;
  color: #ffc002;
  margin-right: 2vw;
  font-size: 2vw;
  padding-top: auto;
}
nav .language {
  font-size: 1vw;
  margin-top: 1vh;
  margin-right: 1vw;
}
nav .links {
  justify-content: end;
  width: 85%;
  display: flex;
  align-self: center;
}

main section.first {
  background-color: #fef0ae;
  padding-bottom: 5vh;
}
main section.first .title {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc002;
  justify-content: center;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 160px 160px;
  margin-bottom: 5vh;
}
main section.first .title h2 {
  font-size: 5vw;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 10px;
  color: #fff;
}
main section.first .projectsOne__porfolio {
  display: flex;
  justify-content: space-evenly;
}
main section.first .projectsOne__porfolio .project {
  display: flex;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
main section.first .projectsOne__porfolio .project .item:hover {
  scale: none;
}
main section.first .projectsOne__porfolio .project .div-imagen {
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
main section.first .projectsOne__porfolio .project .div-imagen a {
  text-decoration: none;
}
main section.first .projectsOne__porfolio .project .div-imagen img {
  max-width: 25vw;
  max-height: auto;
  border-radius: 50px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
}
main section.first .projectsOne__porfolio .project .grande {
  width: 25vw;
  height: 100%;
  border-radius: 50px;
}
main section.first .projectsOne__porfolio .project .grande p {
  display: inline-flex;
  margin-top: 2vh;
}
main section.first .projectsOne__porfolio .project .grande:hover .este {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50px;
}
main section.first .projectsOne__porfolio .project .grande:hover .textos {
  display: block;
  position: relative;
  padding-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #fef0ae;
  font-size: 2vw;
}
main section.first .projectsOne__porfolio .project .textos {
  display: none;
  margin-top: 100%;
  margin-left: 10vw;
}
main section.first .projectsOne__porfolio .project .div-imagen > div {
  position: absolute;
}
main section.first .projectsTwo__porfolio {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}
main section.first .projectsTwo__porfolio .project {
  display: flex;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: fit-content;
  width: fit-content;
}
main section.first .projectsTwo__porfolio .project .item:hover {
  scale: none;
}
main section.first .projectsTwo__porfolio .project .item {
  height: fit-content;
}
main section.first .projectsTwo__porfolio .project .div-imagen {
  display: inline-block;
  position: relative;
  border-radius: 50px;
}
main section.first .projectsTwo__porfolio .project .div-imagen a {
  text-decoration: none;
}
main section.first .projectsTwo__porfolio .project .div-imagen img {
  max-width: 27vw;
  max-height: auto;
  border-radius: 50px;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
}
main section.first .projectsTwo__porfolio .project .grande {
  width: 25vw;
  height: 100%;
  border-radius: 50px;
}
main section.first .projectsTwo__porfolio .project .grande p {
  display: inline-flex;
}
main section.first .projectsTwo__porfolio .project .grande:hover .este {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 108%;
  background-color: black;
  border-radius: 50px;
}
main section.first .projectsTwo__porfolio .project .grande:hover .textos {
  display: block;
  position: relative;
  padding-bottom: 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #fef0ae;
  font-size: 2vw;
  margin-top: 50%;
}
main section.first .projectsTwo__porfolio .project .textos {
  display: none;
  margin-top: 80%;
  margin-left: 10vw;
}
main section.first .projectsTwo__porfolio .project .div-imagen > div {
  position: absolute;
}
main section.first .coop {
  text-align: center;
  margin-top: 6vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5vw;
  color: #000;
  font-weight: 300;
}
main section.first .coop a {
  text-decoration: none;
  color: #ffc002;
  font-weight: 600;
}

main section.second {
  background-color: #000;
  padding-bottom: 5vh;
}
main section.second .title {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc002;
  justify-content: center;
  box-shadow: 0px 15px 17px rgba(254, 240, 174, 0.4);
  border-radius: 0px 0px 160px 160px;
  margin-bottom: 5vh;
}
main section.second .title h2 {
  font-size: 5vw;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 10px;
  color: #fff;
}
main section.second .textosContain {
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
main section.second .boton {
  border-radius: 10%;
  width: 3vw;
  height: 1vw;
}
main section.second .container {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
}
main section.second .container .skill {
  text-align: center;
  animation-name: moving;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 0.3s;
}
main section.second .container .skill svg {
  width: 60px;
  height: 60px;
}
main section.second .container .skill p {
  color: #fef0ae;
  animation-name: shadows;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 0.3s;
}
main section.second .container .skill svg:hover {
  box-shadow: 2px 2px 20px 15px rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

@keyframes moving {
  0% {
    transform: rotate3d(12, 2, 4, 192deg);
  }
  25% {
    transform: rotate3d(1, 5, -4, 60deg);
  }
  50% {
    transform: rotate3d(1, 10, 1, 12deg);
  }
  65% {
    transform: rotate3d(6, 5, -3, 12deg);
  }
  75% {
    transform: rotate3d(7, -5, 3, 60deg);
  }
  85% {
    transform: rotate3d(1, 2, 1, 190deg);
  }
  100% {
    transform: rotate3d(12, 2, 4, 195deg);
  }
}

@keyframes shadows {
  0% {
    box-shadow: 2px 2px 20px 15px rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 2px 2px 20px 15px rgba(189, 185, 185, 0.2);
  }
}

main section.third {
  background-color: #fef0ae;
}
main section.third .title {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc002;
  justify-content: center;
  box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 160px 160px;
  margin-bottom: 5vh;
}
main section.third .title h2 {
  font-size: 5vw;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 10px;
  color: #fff;
}
main section.third .contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main section.third .contenedor .box {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vw;
}
main section.third .contenedor .box p {
  text-align: center;
}
main section.third .contenedor .box span {
  font-size: 1.5vw;
  font-weight: 300;
  text-align: center;
  width: 40vw;
  display: flex;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}
main section.third .contenedor .one {
  background-color: #000;
}
main section.third .contenedor .one p {
  margin-right: 7vw;
  padding: 9vw 5.5vw 8vw 4.5vw;
}
main section.third .contenedor .two {
  background-color: #fef0ae;
  color: #000;
}
main section.third .contenedor .two p {
  margin-left: 7vw;
  padding: 9vw 5.5vw 8vw 6.5vw;
}
main section.third .contenedor .three {
  background-color: #fef0ae;
  color: #000;
}
main section.third .contenedor .three p {
  margin-right: 7vw;
  padding: 6vw 1.5vw 8vw 3.5vw;
}
main section.third .contenedor .four {
  background-color: #000;
}
main section.third .contenedor .four p {
  margin-left: 7vw;
  padding: 6vw 6.5vw 8vw 6.5vw;
}
main section.third img {
  position: absolute;
  display: grid;
  margin-left: 35%;
  margin-right: 50%;
  margin-top: -48%;
  width: 30%;
  padding-bottom: 0vh;
}

footer {
  background-color: #000;
  font-family: "Josefin Sans", sans-serif;
  top: 100%;
  color: #fff;
}
footer .todo {
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
}
footer .todo ul {
  display: flex;
  justify-content: space-between;
}
footer .todo ul li {
  list-style-type: none;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}
footer .todo ul li a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav .links {
    justify-content: end;
    width: 85%;
    display: flex;
    align-self: center;
  }
  header .foto {
    width: 30%;
  }
  header .foto img {
    width: 100%;
  }
  header .texto {
    width: 70%;
  }
  header .title .texto p {
    font-size: 3vw;
  }
  main section.first {
    padding-bottom: 1vh;
  }
  main section.first .projectsOne__porfolio {
    display: flex;
    justify-content: space-evenly;
  }
  main section.first .projectsOne__porfolio .project {
    border-radius: 10px;
  }
  main section.first .projectsOne__porfolio .project .div-imagen {
    border-radius: 10px;
  }
  main section.first .projectsOne__porfolio .project .div-imagen img {
    width: 25vw;
    border-radius: 10px;
  }
  main section.first .projectsOne__porfolio .project .grande {
    width: 25vw;
    border-radius: 10px;
  }
  main section.first .projectsOne__porfolio .project .grande:hover .este {
    border-radius: 10px;
  }
  main section.first .projectsOne__porfolio .project .textos {
    display: none;
    margin-top: 50%;
    margin-left: 1vw;
  }
  main section.first .projectsOne__porfolio .project .textos .arrow-hover {
    width: 10px;
    height: 10px;
  }
  main section.first .projectsTwo__porfolio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }
  main section.first .projectsTwo__porfolio .project {
    display: flex;
    box-shadow: 0px 20px 17px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
  }
  main section.first .projectsTwo__porfolio .project .item:hover {
    scale: none;
  }
  main section.first .projectsTwo__porfolio .project .item {
    height: fit-content;
  }
  main section.first .projectsTwo__porfolio .project .div-imagen {
    display: inline-block;
    position: relative;
    border-radius: 10px;
  }
  main section.first .projectsTwo__porfolio .project .div-imagen a {
    text-decoration: none;
  }
  main section.first .projectsTwo__porfolio .project .div-imagen img {
    max-width: 25vw;
    border-radius: 10px;
  }
  main section.first .projectsTwo__porfolio .project .grande {
    width: 25vw;
    border-radius: 10px;
  }
  main section.first .projectsTwo__porfolio .project .grande p {
    display: inline-flex;
  }
  main section.first .projectsTwo__porfolio .project .grande:hover .este {
    border-radius: 10px;
  }
  main section.first .projectsTwo__porfolio .project .textos {
    display: none;
    margin-top: 10%;
    margin-left: 1vw;
    padding-bottom: 0;
  }
  main section.first .projectsTwo__porfolio .project .textos .arrow-hover {
    width: 10px;
    height: 10px;
  }
  main section.first .coop {
    font-size: 3.5vw;
  }
  main section.second {
    background-color: #000;
    padding-bottom: 5vh;
  }
  main section.second .title {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc002;
    justify-content: center;
    box-shadow: 0px 15px 17px rgba(254, 240, 174, 0.4);
    border-radius: 0px 0px 160px 160px;
    margin-bottom: 5vh;
  }
  main section.second .title h2 {
    font-size: 5vw;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    margin: 10px;
    color: #fff;
  }
  main section.second .textosContain {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
  }
  main section.second .boton {
    border-radius: 10%;
    width: 3vw;
    height: 1vw;
  }
  main section.second .container {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  main section.second .container .skill {
    text-align: center;
  }
  main section.second .container .skill svg {
    width: 30px;
    height: 30px;
  }
  main section.second .container .skill p {
    color: #fef0ae;
    font-size: 2.5vw;
  }
  main section.third {
    width: 100%;
  }
  main section.third .contenedor {
    grid-template-columns: repeat(1, 4fr);
  }
  main section.third .contenedor .box p {
    margin-right: auto;
    margin-left: auto;
    padding: 1vw 1vw 1vw 1vw;
    width: 50%;
    font-size: 3vw;
  }
  main section.third .contenedor .three {
    background-color: #000;
    color: #fff;
  }
  main section.third .contenedor .three span {
    margin: 1vw 1vw 1vw 1vw;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2vw;
  }
  main section.third .contenedor .four {
    background-color: #fef0ae;
    color: #000;
  }
  main section.third img {
    display: none;
  }
  footer {
    background-color: #000;
    font-family: "Josefin Sans", sans-serif;
    top: 100%;
    color: #fff;
  }
  footer .todo {
    display: flex;
    justify-content: space-around;
    font-size: 1.5vw;
  }
  footer .todo ul {
    display: flex;
    justify-content: space-between;
  }
  footer .todo ul li {
    list-style-type: none;
    margin-left: 5vw;
    display: flex;
    align-items: center;
  }
  footer .todo ul li img {
    width: 10px;
    height: auto;
  }
  footer .todo ul li a {
    text-decoration: none;
    color: #fff;
  }
}

body {
  margin: 0;
}
